body {
  background-color: #615656;
}

.getStarted {
  position: absolute;
  display: flex;
  column-gap: 8px;
  border: 2px solid rgb(20, 245, 68); /*tbd */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 50vh; tbd */
}

.getStarted .form-element input {
  box-sizing: border-box;
  height: 3.5rem;
  width: 333px;
  font-size: 1rem;
  padding: 1.5rem 1rem 0.5rem;
  /* opacity: 0%; */
  /* display: flex;
  align-items: center; */
}

.getStarted .form-element label {
  position: absolute;
  /* left: 0; */
  left: 16px;
  top: 24px;
}

.getStarted input:focus {
  padding-left: 2px;
}

.getStarted button {
  background-color: #e50914;
  color: white;
  /* color: var(--color); */
  height: 3.5rem;
  width: 8rem;
  font-size: 1.1rem;
  border: none;
}
